@{
    ViewBag.title = "Successfully Block!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 green">
    <i class="fa fa-check "></i> Done
</div>
<div class="f-em-15 sky-blue">
    You have successfully @ViewBag.info
</div>
<div class="top-gap-2x"></div>