@{
    ViewBag.Title = "About";
    var url = AppVar.Url;
}

<div class="page-header">
    <h1 title="@url">@AppVar.Name</h1><small>@AppVar.Setting.ApplicationDescription</small>
</div>
<div class="justify">
    @url is a brand new platform for latest news, reviews, tech gossips and everything that

    relates to mobile applications. App stores are dominated by the giant publishers with strong media

    presence and huge follower network leaving a very litter space to the small and indie developers.

    @url is a perfect for those developers who spent time and put efforts but with the

    availability of limited budget to market their applications. Weappreview.com recognizes their hard work

    and helps them to reach their application to their target audience.

    @url is a network of independent app reviewers from around the world who are

    passionate about new applications and wanna be the first to try it before anyone else.

    Thanks to their own huge friends network which include the ones who loves to play the app till it

    become handy for them and then share it with others persuading them to write a good note if they

    found it useful thus the word of mouth and social sharing makes an app a viral and to resonate it across

    the globe.

    Our website has been designed to be user friendly and responsive to any size any device and to make

    sure you’re always to be connected with best new apps as well as receiving the hottest rumors, tips and

    tricks straight to your mailbox, Sign up for our free newsletter from the homepage.
</div>

<br />
<div class="f-em-12 label label-info">
    Visit <a href="@url/policy">policy</a>
</div>