@{
    ViewBag.Title = @AppVar.Name + " : " + AppVar.Subtitle;
    //Layout = "~/Views/Shared/_LayoutFrontEnd.cshtml";
}
@section hidden{
    @Html.ComponentsEnableFor("owl-carousel","revolution-gallery")
}
<div class="home-page">
    @{ Html.RenderAction("HomePageGallery", "Partials"); }
    <div class="top-gap-2x">
        @{ Html.RenderAction("LatestAppsList", "Partials"); }
    </div>
    <div class="top-gap-2x">
        @{ Html.RenderAction("TopAppsList", "Partials"); }
    </div>
</div>