@{
    ViewBag.title = "Come back later!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 red">
    <i class="fa fa-flag-checkered"></i> Come back later
</div>
<div class="f-em-15 sky-blue">
    Your feedback has not been posted. You have visited this page many times. Please come back later.
</div>
<div class="top-gap-2x"></div>