<ul class="make-it-tab nav nav-pills nav-tabs" role="tablist">
    <li class="active">
        <a href="#basic-tab" role="tab" data-toggle="tab">Basics</a>
    </li>
    <li>
        <a href="#office-tab" role="tab" data-toggle="tab">Office</a>
    </li>
    <li>
        <a href="#email-setup-tab" role="tab" data-toggle="tab">Smtp Setup</a>
    </li>
    <li>
        <a href="#developers-tab" role="tab" data-toggle="tab">Developer</a>
    </li>
    <li>
        <a href="#external-logins-tab" role="tab" data-toggle="tab">External Login</a>
    </li>
    <li>
        <a href="#urls-tab" role="tab" data-toggle="tab">Urls</a>
    </li>
    <li>
        <a href="#WeReview-tab" role="tab" data-toggle="tab">Were View App</a>
    </li>
</ul>