@{
    ViewBag.title = "Already reported!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 orange-color">
    <i class="fa fa-flag-checkered"></i> Already Reported
</div>
<div class="f-em-15 sky-blue">
    You have already reported this app. Admin will get back to you soon. Please check your email and spam box time to time.
</div>
<div class="top-gap-2x"></div>