@{
    ViewBag.title = "Successfully repported app!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 green">
    <i class="fa fa-paper-plane "></i> Successfully Reported
</div>
<div class="f-em-15 sky-blue">
    Your message has been reported to the admin. We will be get back to you very soon.
</div>
<div class="top-gap-2x"></div>