@model ReviewApps.Models.ViewModels.AppSummaryViewModel
@{
    ViewBag.Title = "Admin";
}

<div class="jumbotron">
    <h1>Administration</h1>
    <p class="lead">You have total @Model.TotalApps, last weeks apps @Model.LastWeeksApps , last months apps @Model.LastMonthsApps</p>
    <p>
        <a href="http://developers-organism.com" class="btn btn-lg btn-primary">Learn more &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2 class="h3">Elmah is integrated securely</h2>
        <p>
            It will capture all your errors. Use admin/elmah after creating at least one user.
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="h3">We keep things clean.</h2>
        <p>This product has been influenced by DevProject Framework.</p>
    </div>

</div>