<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\ReviewApps-Accounts.mdf;Initial Catalog=ReviewApps-Accounts;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="ReviewAppsEntities" connectionString="metadata=res://*/Models.EntityModel.ReviewAppsModel.csdl|res://*/Models.EntityModel.ReviewAppsModel.ssdl|res://*/Models.EntityModel.ReviewAppsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;attachdbfilename=|DataDirectory|\ReviewApps.mdf;Initial Catalog=ReviewApps;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="true" />
    <!--<add key="elmah.mvc.allowedRoles" value="admin" />-->
    <!--<add key="elmah.mvc.allowedUsers" value="?" />-->
    <add key="elmah.mvc.route" value="x/Elmah" />
    <add key="RouteDebugger:Enabled" value="false" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="true" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="false" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <!-- cookie free domain -->
    <sessionState cookieless="UseDeviceProfile" regenerateExpiredSessionId="true" timeout="50" />
    <!--<sessionState cookie less="UseUri"/>-->
    <caching>
      <outputCache enableOutputCache="true" />
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="YearNoParam" duration="31104000" varyByParam="none" varyByCustom="none" location="Server" />
          <add name="Year" duration="31104000" varyByParam="none" varyByCustom="byuser" location="Server" />
          <add name="Month" duration="2592000" varyByParam="none" varyByCustom="byuser" location="Server" />
          <add name="Day" duration="86400" varyByCustom="byuser" location="Server" />
          <add name="Hour" duration="3600" varyByCustom="byuser" location="Server" />
          <add name="TenMins" duration="600" varyByCustom="byuser" location="Server" />
          <add name="Ten" duration="600" varyByCustom="byuser" location="Server" />
          <add name="Long" duration="300" varyByCustom="byuser" location="Server" />
          <add name="Five" duration="300" varyByCustom="byuser" location="Server" />
          <add name="FiveMins" duration="300" varyByCustom="byuser" location="Server" />
          <add name="Medium" duration="150" varyByCustom="byuser" location="Server" />
          <add name="TwoMins" duration="120" varyByCustom="byuser" location="Server" />
          <add name="OneMin" duration="60" varyByCustom="byuser" location="Server" />
          <add name="Short" duration="20" varyByCustom="byuser" location="Server" />
          <add name="TenSec" duration="10" varyByCustom="byuser" location="Server" />
          <add name="VeryShort" duration="5" varyByCustom="byuser" location="Server" />
          <add name="ThreeSec" duration="3" varyByCustom="byuser" location="Server" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" optimizeCompilations="false" />
    <httpRuntime targetFramework="4.5" maxRequestLength="10048576" enableVersionHeader="false" />
    <globalization culture="en-US" uiCulture="en-US" enableClientBasedCulture="false" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff2" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthenticationModule" />
      <!--<add name="HeaderRemove" type="HttpModules.HeaderRemove" />-->
      <add name="RemoveETag" type="ReviewApps.Modules.Reponse.RemoveETagModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <httpErrors errorMode="Detailed" />
    <!--<httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="ExecuteURL">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="414" subStatusCode="-1" />
      <remove statusCode="415" subStatusCode="-1" />
      <remove statusCode="429" subStatusCode="-1" />
      <remove statusCode="431" subStatusCode="-1" />
      <remove statusCode="451" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="502" subStatusCode="-1" />
      <error statusCode="400" responseMode="ExecuteURL" path="/Errors/Error_400" />
      <error statusCode="403" responseMode="ExecuteURL" path="/Errors/Error_403" />
      <error statusCode="404" responseMode="ExecuteURL" path="/Errors/Error_404" />
      <error statusCode="414" responseMode="ExecuteURL" path="/Errors/Error_414" />
      <error statusCode="415" responseMode="ExecuteURL" path="/Errors/Error_415" />
      <error statusCode="429" responseMode="ExecuteURL" path="/Errors/Error_429" />
      <error statusCode="431" responseMode="ExecuteURL" path="/Errors/Error_431" />
      <error statusCode="451" responseMode="ExecuteURL" path="/Errors/Error_451" />
      <error statusCode="500" responseMode="ExecuteURL" path="/Errors/Error_500" />
      <error statusCode="502" responseMode="ExecuteURL" path="/Errors/Error_502" />
    </httpErrors>-->
    <asp scriptErrorSentToBrowser="true" />
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <remove name="X-SourceFiles" />
        <!--<remove name="Cookie" />-->
      </customHeaders>
    </httpProtocol>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <elmah>
    <security allowRemoteAccess="yes" />
    <errorLog type="Elmah.XmlFileErrorLog, Elmah" logPath="~/App_Data/elmah" />
  </elmah>
</configuration>