@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    HttpContext.Current.Response.StatusCode = 403;
    if (ViewBag.Reason == null) {
        ViewBag.Reason = "You don't qualify for this page request.";
    }
    ViewBag.Title = "403 : Forbidden Access";
}
<div class="custom-error-page">
    <h1 class="error-page-title-version-2 h1 text-danger top-margin-space">
        @ViewBag.Title
    </h1>
    <div class="top-gap-2x">
        <div class="row">
            <div class="col-md-4">
                <img src="~/images/error-icon-bucket.png" alt="app not found" />
            </div>
            <div class="col-md-8">
                <p class="error-content">
                    Sorry for the inconvenience , however your requested page which
                    <strong class="bold red">forbidden to access</strong>.
                    Please try again from home page or list of apps.
                    For further information , please be in touch with admin.
                </p>
                <p class="reason-of-error">Possible reason : @ViewBag.Reason</p>

                <div class="contactus">Please feel free to @Html.ContactFormActionLink("contact us", "Contact Us - " + @AppVar.Name).</div>
            </div>
        </div>
    </div>
</div>