@{
    string controller = ViewBag.controllerName;
    string areaName = ViewBag.areaName;
    var link = Url.Action("Index", controller, new {area = areaName});
}
<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        <div class="btn-group">
            <a href="@link" title="Back" class="btn btn-info">
                <span class="fa fa-arrow-left"></span> Back
            </a>
            <div class="inline input-group-btn">
                <button title="Save" class="btn btn-success">
                    <i class="fa fa-floppy-o"></i> Save
                </button>
            </div>
        </div>
    </div>
</div>