<h1 class="error-page-title-version-2 h1 text-danger top-margin-space">@ViewBag.Title</h1>

<div class="container unhappy-page">
    <div class="row">
        <p class="col-md-2 unhappy">
            :(
        </p>
        <div class="col-md-9 unhappy-detail">
            <p>
                @ViewData["ErrorMessage"]
            </p>
            <div class="contactus">
                Please feel free to @Html.ContactFormActionLink("contact us", "Contact Us - " + @AppVar.Name).
            </div>
        </div>
    </div>
</div>