<div class="hide ">
    <div id="loading-bar">
        <div class="default-loading-bar">
            <div class="loading-bar-container">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
            <h1 class="spinner-content">...Loading request...</h1>
        </div>
    </div>
</div>
<div id="loading-bar-full-screen" class="loading-bar-full-screen fixed">
    <div class="container">
        <div class="vertical-center">
            <div class="signal-display-container">
                <div>
                    <div class="loading-bar-container">
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                        <div class="loading-bar"></div>
                    </div>
                    <div id="full-screen-spinner-content" class="spinner-content">
                        ...Please wait...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>