@model IEnumerable<ReviewApps.Models.POCO.Identity.ApplicationUser>

@{
    ViewBag.Title = "Blocked User";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
}

@Html.SamePageLinkWithIcon(title, subtitle, "fa  fa-ban")

<div class="left-button-stacks">
    <a href="@Url.Action("Index")" title="Back" class="btn btn-info dev-btn-back"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
</div>
@Html.Partial("_IndexDefault")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}