@{
    ViewBag.Title = "Manage User";
    string title = ViewBag.Title;
    string subtitle = ViewBag.Title;
}

@Html.SamePageLinkWithIcon(title, subtitle, "glyphicon glyphicon-th-list")
<div class="left-button-stacks">
    <a href="@Url.Action("FilterBlockedUsers")" title="Filter for blocked users." class="btn btn-info"><i class="fa fa-filter"></i> Blocked Users</a>
</div>

@Html.Partial("_IndexDefault")


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}