<div class="form-group">
    <div class="col-md-10 col-md-offset-2">
        <div class="btn-group">
            <div class="inline">
                <button id="review-submit-btn" class="btn btn-success" title="Post new review."><i class="fa fa-pencil-square-o"></i> Save</button>
            </div>
        </div>
    </div>
</div>