@{
    ViewBag.title = "Can't review own app.";
    Layout = null;
}
<div class="top-gap-2x"></div>
<div class="f-em-23 orange-color">
    <i class="fa fa-times "></i> Can't review own app.
</div>
<div class="f-em-15 sky-blue">
    You cannot write review on your own app.
</div>
<div class="top-gap-2x"></div>