@{
    ViewBag.Title = "Your email is confirmed";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 green">
    <i class="@FaIcons.CheckMark"></i> Confirmed
</div>
<div class="top-gap-2x"></div>
<div>
    <p>
        @ViewBag.Title. Thank you for confirming your account.
        @if (User.Identity.IsAuthenticated) {
            <text>Now you can post new apps and can do many more things.</text>
        } else {
            <text>Please click here to @Html.ActionLinkWithIcon("log in", "Login", "Account", null, "Login", "fa fa-sign-in")</text>
        }
    </p>
</div>