@{
    ViewBag.title = "Email Sent!";
}
<div class="top-gap-2x"></div>
<div class="f-em-23 green">
    <i class="@FaIcons.Plane"></i> @ViewBag.title
</div>
<div class="top-gap"></div>
<div class="f-em-13 sky-blue">
    @if (ViewBag.message == null) {
        <text>An email has been sent to your address if you have a valid email in our system.</text>
    } else {
        <text>@ViewBag.message</text>
    }
</div>
<div class="top-gap-2x"></div>