@model ReviewApps.Models.ViewModels.EmailResendViewModel
@{
    string title = "Password Reset Properly";
    ViewBag.Title = title;
}
<div class="green">
    @Html.HeaderWithIcon(title, title, iconClass: FaIcons.CheckMark)
</div>
<div class="top-gap"></div>
<div class="f-em-13 sky-blue">
    @if (ViewBag.message == null) {
        <text>Your password has been reset successfully.</text>
    } else {
        <text>@ViewBag.message</text>
    }
</div>
<div class="top-gap-2x"></div>