.archive-app-collection-list {
  margin: 5px 0px 4px 11px;
  margin: 0.5rem 0 0.4rem 1.1rem;
  width: 100%;
  padding-right: 25px;
  padding-right: 2.5rem;
}
.archive-app-collection-list li {
  float: left;
  margin-left: 5px;
  display: block;
}
.archive-app-collection-list .fa-apple {
  color: gray;
}
.archive-app-collection-list .fa-android {
  color: green;
}
.archive-app-collection-list .fa-windows {
  color: deepskyblue;
}
.slim-app-view {
  color: #647383;
  height: 54px;
  height: 5.4rem;
  width: 224px;
  width: 22.4rem;
  font-size: 0.8em;
  margin-bottom: 5px;
  margin-bottom: 0.5rem;
  display: block;
  font-family: Ubuntu, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.slim-app-view.tag {
  border: 1.5px solid #505454;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  height: 32px;
  height: 3.2rem;
}
.slim-app-view.tag .app-content {
  width: 200px;
  width: 20rem;
}
.slim-app-view.tag .app-title {
  padding: 8px 1px;
  padding: 0.8rem 0.1rem;
  font-size: 20px;
  font-size: 1.25em;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
.slim-app-view .app-url:hover {
  color: #647383;
}
.slim-app-view:hover {
  border-bottom: 2px solid red;
  cursor: pointer;
}
.slim-app-view .app-content {
  float: left;
  margin-left: 10px;
  margin-left: 1rem;
  width: 66%;
}
.slim-app-view h1,
.slim-app-view h2,
.slim-app-view h3 {
  color: inherit;
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  min-width: 108px;
  position: relative;
}
.slim-app-view h3 {
  margin: 5px 0;
  margin: 0.5rem 0;
}
.slim-app-view .app-title {
  font-size: 1.2em;
}
.slim-app-view .app-icon img {
  height: 50px;
  height: 5rem;
  width: 66px;
  width: 6.6rem;
  float: left;
  border: 1.5px solid #616161;
  -webkit-box-shadow: 1px 1px 2px rgba(105, 105, 105, 0.55);
  -moz-box-shadow: 1px 1px 2px rgba(105, 105, 105, 0.55);
  box-shadow: 1px 1px 2px rgba(105, 105, 105, 0.55);
}
.slim-app-view .rating {
  margin-top: 5px;
  margin-top: 0.5rem;
}
.slim-app-view .fa-star {
  color: #ff9b00;
  text-shadow: .5px .5px .5px black;
}
@media (max-width: 768px) {
  .slim-app-view {
    text-align: left;
    width: 227px;
    width: 22.7rem;
  }
  .slim-app-view h1,
  .slim-app-view h2,
  .slim-app-view h3,
  .slim-app-view span,
  .slim-app-view i.fa {
    text-align: inherit;
  }
}
@media (max-width: 735px) {
  .slim-app-view {
    width: 335px;
    width: 33.5rem;
  }
  .slim-app-view .app-content {
    width: 77%;
  }
}
@media (max-width: 726px) {
  .slim-app-view {
    width: 49%;
  }
  .slim-app-view .app-content {
    width: 68%;
  }
}
@media (max-width: 545px) {
  .slim-app-view {
    width: 48%;
  }
  .slim-app-view .app-content {
    width: 65%;
  }
}
@media (max-width: 510px) {
  .slim-app-view {
    width: 100%;
  }
  .slim-app-view .app-content {
    width: 79%;
  }
}
@media (max-width: 400px) {
  .slim-app-view .app-content {
    width: 75%;
  }
}
@media (max-width: 350px) {
  .slim-app-view .app-content {
    width: 68%;
  }
}
.app-date-seperation {
  border-bottom: 2px solid red;
  margin: 7px 0px 10px 0px;
  margin: 0.7rem 0 1rem 0;
}
.app-date-seperation .col-md-2 {
  text-align: right;
  padding: 0;
}
.app-date-seperation.small-margin {
  margin: 7px 0px 3px 0px;
  margin: 0.7rem 0 0.3rem 0;
}
.category-listing-page .app-detail.app-title-wrapper {
  margin: 7px 0px 0px 0px;
  margin: 0.7rem 0 0 0;
  height: 37px;
  height: 3.7rem;
}
.category-listing-page .app-detail.app-title-wrapper a.app-title {
  margin-right: 5px;
  margin-right: 0.5rem;
}
.category-listing-page .app-detail.app-title-wrapper a.app-category {
  bottom: 8px;
}
.category-listing-page .app-detail.app-title-wrapper.category-title .app-title-row,
.category-listing-page .app-detail.app-title-wrapper a {
  color: inherit;
  font-size: inherit;
}
.category-listing-page .category-title {
  font-size: 1.3em;
  color: #505454;
}
.category-listing-page .category-title.app-detail.app-title-wrapper {
  margin: 0px 0px 5px 0px;
  margin: 0 0 0.5rem 0;
  height: 28px;
  height: 2.8rem;
  border-bottom: 2px solid red;
  cursor: pointer;
  padding: 0;
}
.category-listing-page .category-title.app-detail.app-title-wrapper .app-category {
  font-size: 1em;
}
@media (max-width: 768px) {
  .category-listing-page .category-title.app-detail.app-title-wrapper {
    line-height: 0.8;
  }
}
.category-listing-page .category-title .app-title:hover {
  color: #ff7200;
}
.category-listing-page .category-title .app-title:hover .app-category {
  color: inherit;
}
.category-listing-page .archive-app-collection-list {
  padding-right: 0;
  margin: 0;
}
.category-listing-page .archive-app-collection-list li {
  margin-right: 5px;
  margin-left: 0;
}
/*# sourceMappingURL=category-page.css.map */