/*
  Warning(.css file): Please don't modify styles from css file. Please modify the styles in the respective.less file in the less folder. CSS files will be replaced with new .less file styles.
  FYI: This file (.less file) contains styles for animate spinner.
*/
.fa-spin-custom,
.glyphicon-spin {
  -webkit-animation: spin 1000ms infinite linear;
  -moz-animation: spin 1000ms infinite linear;
  -o-animation: spin 1000ms infinite linear;
  animation: spin 1000ms infinite linear;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes spin{ 0% {-webkit-transform: rotate(0deg);} 100% {-webkit-transform: rotate(359deg);}}
@-moz-keyframes spin{ 0% {-moz-transform: rotate(0deg);} 100% {-moz-transform: rotate(359deg);}}
@-o-keyframes spin{ 0% {-o-transform: rotate(0deg);} 100% {-o-transform: rotate(359deg);}}
@keyframes spin{ 0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-ms-transform: rotate(0deg);transform: rotate(0deg);} 100% {-webkit-transform: rotate(359deg);-moz-transform: rotate(359deg);-ms-transform: rotate(359deg);transform: rotate(359deg);};
}
/*@import "spinner/load1.less";
@import "spinner/load2.less";
@import "spinner/load3.less";
@import "spinner/load4.less";
@import "spinner/load5.less";
@import "spinner/load6.less";
@import "spinner/load7.less";
@import "spinner/load8.less";*/
.signal {
  border: 5px solid #333;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  -webkit-animation: signal-animate .6s ease-out infinite;
  -moz-animation: signal-animate .6s ease-out infinite;
  -o-animation: signal-animate .6s ease-out infinite;
  animation: signal-animate .6s ease-out infinite;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes signal-animate{ 0% { -webkit-transform: scale(.1); opacity: 0.0; } 50% { opacity: 1; } 100% { -webkit-transform: scale(1.2); opacity: 0;}}
@-moz-keyframes signal-animate{ 0% { -moz-transform: scale(.1); opacity: 0.0; } 50% { opacity: 1; } 100% { -moz-transform: scale(1.2); opacity: 0;}}
@-o-keyframes signal-animate{ 0% { -o-transform: scale(.1); opacity: 0.0; } 50% { opacity: 1; } 100% { -o-transform: scale(1.2); opacity: 0;}}
@keyframes signal-animate{ 0% {-webkit-transform: scale(.1);-moz-transform: scale(.1);-ms-transform: scale(.1);transform: scale(.1); opacity: 0.0; } 50% { opacity: 1; } 100% {-webkit-transform: scale(1.2);-moz-transform: scale(1.2);-ms-transform: scale(1.2);transform: scale(1.2); opacity: 0;};
}
/**
  Html :
  <div class="loading-bar-container">
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
      <div class="loading-bar"></div>
  </div>
*/
.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  -webkit-animation: loading-bar .7s ease-in-out infinite;
  -moz-animation: loading-bar .7s ease-in-out infinite;
  -o-animation: loading-bar .7s ease-in-out infinite;
  animation: loading-bar .7s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #3498db;
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay: 0;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #c0392b;
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  -o-animation-delay: 0.9s;
  animation-delay: 0.9s;
}
.loading-bar:nth-child(3) {
  background-color: #f1c40f;
  -webkit-animation-delay: 0.18s;
  -moz-animation-delay: 0.18s;
  -o-animation-delay: 0.18s;
  animation-delay: 0.18s;
}
.loading-bar:nth-child(4) {
  background-color: #27ae60;
  -webkit-animation-delay: 0.27s;
  -moz-animation-delay: 0.27s;
  -o-animation-delay: 0.27s;
  animation-delay: 0.27s;
}
.loading-bar:nth-child(5) {
  background-color: #494C4A;
  -webkit-animation-delay: 0.36s;
  -moz-animation-delay: 0.36s;
  -o-animation-delay: 0.36s;
  animation-delay: 0.36s;
}
.loading-bar:nth-child(6) {
  background-color: #7D8DFF;
  -webkit-animation-delay: 0.45s;
  -moz-animation-delay: 0.45s;
  -o-animation-delay: 0.45s;
  animation-delay: 0.45s;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes loading-bar{ 0% { -webkit-transform: scale(1);} 20% {-webkit-transform: scale(1, 2.2); } 40% {-webkit-transform: scale(1); }}
@-moz-keyframes loading-bar{ 0% { -moz-transform: scale(1);} 20% {-moz-transform: scale(1, 2.2); } 40% {-moz-transform: scale(1); }}
@-o-keyframes loading-bar{ 0% { -o-transform: scale(1);} 20% {-o-transform: scale(1, 2.2); } 40% {-o-transform: scale(1); }}
@keyframes loading-bar{ 0% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1);} 20% {-webkit-transform: scale(1, 2.2);-moz-transform: scale(1, 2.2);-ms-transform: scale(1, 2.2);transform: scale(1, 2.2); } 40% {-webkit-transform: scale(1);-moz-transform: scale(1);-ms-transform: scale(1);transform: scale(1); };
}
.top-bar-loading {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.top-bar-loading:before {
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  -webkit-animation: top-bar-loading 2s linear infinite;
  -moz-animation: top-bar-loading 2s linear infinite;
  -o-animation: top-bar-loading 2s linear infinite;
  animation: top-bar-loading 2s linear infinite;
}
lesshat-selector {
  -lh-property: 0; } 
@-webkit-keyframes top-bar-loading{ from {left: -200px; width: 30%;}  50% {width: 30%;}   70% {width: 70%;} 80% { left: 50%;} 95% {left: 120%;} to {left: 100%;}}
@-moz-keyframes top-bar-loading{ from {left: -200px; width: 30%;}  50% {width: 30%;}   70% {width: 70%;} 80% { left: 50%;} 95% {left: 120%;} to {left: 100%;}}
@-o-keyframes top-bar-loading{ from {left: -200px; width: 30%;}  50% {width: 30%;}   70% {width: 70%;} 80% { left: 50%;} 95% {left: 120%;} to {left: 100%;}}
@keyframes top-bar-loading{ from {left: -200px; width: 30%;}  50% {width: 30%;}   70% {width: 70%;} 80% { left: 50%;} 95% {left: 120%;} to {left: 100%;};
}
/* Import this if you are using modernizr (recommended) 
It means that loaders will fallback to a text state of simply saying "Loading..." in older browsers
*/
.no-cssanimations .load-container .loader {
  text-indent: 0;
  text-align: center;
  color: #FFF;
  font-size: 17px;
  background: none;
  border: 0 none;
  width: auto;
  height: auto;
  margin: 1em auto;
  overflow: visible;
  box-shadow: none;
  -webkit-animation: none;
  animation: none;
}
.no-cssanimations .load-container .loader:before,
.no-cssanimations .load-container .loader:after {
  display: none;
}
#loading-bar {
  padding-top: 19px;
}
.loading-bar-container {
  min-width: 200px;
  margin: 0 auto;
  text-align: center;
  display: block;
  position: static;
}
.blockMsg {
  border: none !important;
  color: #ffffff;
  border: 3px solid #aaaaaa;
  cursor: wait;
  background-color: #ffffff;
  border-radius: 4px;
  position: relative;
  font-size: 0.95em;
}
@media (min-width: 992px) {
  .blockMsg {
    left: 40% !important;
    width: 20% !important;
  }
}
@media (max-width: 768px) {
  .blockMsg {
    left: 35% !important;
    width: 38% !important;
  }
}
@media (max-width: 480px) {
  .blockMsg {
    left: 6% !important;
    width: 84% !important;
  }
}
@media (min-width: 480px) {
  .blockMsg {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .blockMsg {
    font-size: 1.1em;
  }
}
@media (min-width: 992px) {
  .blockMsg {
    font-size: 1.12em;
  }
}
@media (min-width: 1200px) {
  .blockMsg {
    font-size: 1.18em;
  }
}
.loading-bar-full-screen {
  height: 100%;
  position: fixed;
  z-index: 100000;
  width: 100%;
  background-color: #FFFFFF;
}
.loading-bar-full-screen .spinner-content {
  margin-top: 10px;
  margin-top: 1rem;
  text-align: center;
  font-size: 0.95em;
}
@media (min-width: 480px) {
  .loading-bar-full-screen .spinner-content {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .loading-bar-full-screen .spinner-content {
    font-size: 1.1em;
  }
}
@media (min-width: 992px) {
  .loading-bar-full-screen .spinner-content {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  .loading-bar-full-screen .spinner-content {
    font-size: 1.3em;
  }
}
.body-fixed {
  height: 100%;
}
.body-flexible {
  height: 100%;
  min-height: 100%;
  overflow: auto;
  position: relative;
  z-index: 1;
}
.default-loading-bar {
  min-height: 30px;
  min-height: 3rem;
  padding: 10px 20px 20px 20px;
  padding: 1rem 2rem 2rem 2rem;
}
.default-loading-bar .loading-bar-container {
  position: static;
  width: 51px;
  width: 5.1rem;
  margin: 0 auto;
}
.default-loading-bar .spinner-content {
  right: 0.9%;
  position: relative;
  color: black;
  font-family: Ubuntu, Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: -15px;
  margin-top: 10px;
  margin-top: 1rem;
  font-size: 0.95em;
}
@media (min-width: 480px) {
  .default-loading-bar .spinner-content {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .default-loading-bar .spinner-content {
    font-size: 1.1em;
  }
}
@media (min-width: 992px) {
  .default-loading-bar .spinner-content {
    font-size: 1.3em;
  }
}
@media (min-width: 1200px) {
  .default-loading-bar .spinner-content {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=loader-spinner.css.map */